p{
    color: violet;
    line-height: 5.5;
    font-weight: 800;
    text-indent: 500px;
    word-spacing: 30px;
}

h1{
    text-transform: uppercase;
    text-decoration: overline;
    text-shadow: 3px 3px 2px black;
    text-align: center;
}
